/*----------------------------------------*/
/* ClIENT CSS START
/*----------------------------------------*/
.team {
    &__area-6 {
        background-color: #FFF7EC;
    }  

    &__item-6 {
        position: relative;
        margin-bottom: 25px;
        &:hover {
            .team__thumb-6 {
                .shape-image-1 {
                    left: -10px;
                    top: -10px;
                }
                .shape-image-2 {
                    right: -10px;
                    bottom: -10px;
                }
            }
            .team__social-6 {
                .socail-item-6 {
                    visibility: visible;
                    opacity: 1;
                }
                .options--1 {
                    transform: translateY(0);
                }
                .options--2 {
                    transform: translateY(0);
                }
                .options--3 {
                    transform: translateY(0);
                }
                .options--4 {
                    transform: translateY(0);
                }
            }
        }
    }
    &__thumb-6 {
        position: relative;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        background-color: var(--green-5);
        height: 410px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media #{$lg} {
            height: 380px;
        }
        .shape-image-1 {
            left: 0;
            top: 0;
            transition: 0.5s ease;
        }
        .shape-image-2 {
            right: 0;
            bottom: 0;
            transition: 0.5s ease;
        }
    }

    &__details-6 {
        position: absolute;
        left: 0;
        bottom: -1px;
        max-width: 210px;
        background-size: 100% 100%;
        padding: 27px 25px 19px;
    }
    &__name-6 {
        font-family: var(--font-platypi);
        font-size: 20px;
        font-weight: 700;
        color: var(--white);
        margin-bottom: 6px;
    }
    &__designation-6 {
        font-size: 14px;
        color: #FFEEE1;
    }
    
    &__social-6 {
        position: absolute;
        right: 22px;
        top: 22px;
        .socail-item-6 {
            height: 36px;
            width: 36px;
            display: flex;
            text-align: center;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: 0.4s;
            border: 1px solid var(--gray-6);
            color: var(--gray-6);
            margin-bottom: 7px;
            visibility: hidden;
            opacity: 0;
            svg path {
                fill: var(--gray-6);
            }
            &:hover {
                background-color: var(--red-7);
                border: 1px solid var(--red-7);
                svg path {
                    fill: var(--white);
                }
            }
        }
        .options--1 {
            transform: translateY(-10px);
            transition-delay: 100ms;
        }
        .options--2 {
            transform: translateY(-20px);
            transition-delay: 150ms;
        }
        .options--3 {
            transform: translateY(-30px);
            transition-delay: 200ms;
        }
        .movie-card-small.style-three .options--4 {
            transform: translateY(-40px);
            transition-delay: 250ms;
        }
    }
}