/*----------------------------------------*/
/* 03. TYPOGRAPHY CSS START
/*----------------------------------------*/

/*----------------------------------------*/
/*  01. GOOGLE FONTS
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Imbue:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap'); 

.font-sora {
  font-family: var(--font-sora);
}
.font-urbanist {
  font-family: var(--font-urbanist);
}
.font-bluu-next {
  font-family: var(--font-bluu-next);
}
.font-epilogue {
  font-family: var(--font-epilogue);
}