/*----------------------------------------*/
/*  1. HEADER CSS START
/*----------------------------------------*/
.header{
    &__area{
        position: relative;  
        z-index: 99;
        
        .header__main {
            @media #{$lg}{
                display: none;
            }
        }

        //menu inline style
        .main-menu {
            display: flex;
            align-items: center;
            gap: 30px;   
        } 
        
        //dropdown open style
        .has-dropdown {
            position: absolute;
            left: 0px;
            top: 100%;
            padding: 0 0 0 20px; 
            width: 230px;
            height: auto;
            background-color: var(--white);
            opacity: 0;
            visibility: hidden;
            border-radius: 0 0 12px 12px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: var(--transition); 
            transform: scaleY(0);
            transform-origin: top center;
            .menu-item {
                border-top: 1px solid #F3F3F3;
                &:first-child {
                    border-top: 0;
                }
                a {
                    padding: 16px 17px 16px 0;
                    display: block;
                }
            }
            .has-dropdown {
                left: 100%;
                top: -3px;
                width: 180px;
                border-radius: 12px;
                margin-left: -14px;
            }
        }

        //megamenu open style
        .has-megamenu {
            position: inherit !important;
            .has-dropdown {
                left: 0;
                right: 0;
                width: 100%;
                visibility: visible;
                opacity: 1;
                transform: scaleY(0);
                margin: 0 auto;
            }
        }

        //dropdown icon style
        .dropdown-icon {
            position: relative;
            > a {
                margin-right: 12px;
                position: relative;
                &:after {
                    position: absolute;
                    right: -105%;
                    width: 100%;
                    height: auto;
                    content: "\e136";
                    font-family: var(--font-phosphor) !important;
                }
            }
            .dropdown-icon {
                > a {
                    &:after {
                        left: auto;
                        right: 10px;
                        width: auto;
                        content: "\e13a";
                    }
                }
            }
        } 

        //menu item style
        .menu-item {
            transition: var(--transition);
            &:hover  {
                > a {
                    color: var(--primary); 
                }
            }
            a {  
                color: var(--gray);
                font-weight: 500; 
                font-size: 16px;  
                transition: var(--transition);
                position: relative;
                &:hover {
                    color: var(--primary); 
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px; 
        border-radius: 0px 0px 20px 20px;
        padding: 0 20px 0 20px;
        max-width: 1600px;
        margin: 0 auto;
        background-color: var(--white); 
        position: relative;
        &::after {
            position: absolute;
            top: 10px;
            right: 230px;
            content: "";
            width: 54px;
            height: 82px;
            background-image: url('../imgs/icon/line-vector.svg');
            background-repeat: no-repeat;
            @media #{$xl} {
              display: none;
            }
        }
        @media #{$xxl} {
            max-width: 100%;
        }
        @media #{$xl} {
            max-width: 100%;
            gap: 20px; 
        }
        @media #{$lg} {
            max-width: 100%;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            padding: 15px;
        } 
    }
    &__logo{
        display: flex;
        gap: 30px;
        align-items: center;
    }
  
    &__social{
        display: flex;
        gap: 20px;
        position: relative;
        @media #{$xxl} {
            margin-right: -30px;
        }
        @media #{$lg} {
            display: none;
        }
    }

    &__main {
        @media #{$lg} {
            display: none;
        }
    }
 
    &__btn {
        display: flex;
        align-items: center;
        gap: 20px;
        @media #{$lg} {
            display: none;
        }
    }
    &__shopicon {
      position: relative; 
    } 
    
    &__notification {
        width: 14px;
        height: 14px; 
        background-color: var(--primary);
        border-radius: 100px;
        display: flex;
        align-items: center;
        color: var(--white);
        font-size: 6px;
        justify-content: center;
        position: absolute;
        top: -5px;
        right: -7px;
    } 
}

//category-dropdown
.header__select-wrap {
    display: inline-flex;
    position: relative;
    @media #{$lg} {
        display: none;
    }
    .header__circel-icon {
        position: relative;
        color: var(--gray);
        font-size: 14px;
        font-weight: 400;
        border: 1px solid var(--gray-8) !important;
        padding: 15px;
        background-color: transparent;
        background-image: url('../imgs/icon/arrow-down-gray.svg');
        background-repeat: no-repeat;
        background-position-x: 91%;
        background-position-y: 50%;
        width: 190px;
        border-radius: 10px; 
        background-size: 12px;
        cursor: pointer;
        i {
            float: left;
            margin-top: 3px;
            margin-right: 5px;      
        }
    }
    .header__select {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        width: 240px;;
        padding: 0 0 0 22px;
        border-radius: 10px;
        transition: 0.4s;
        transform: scaleY(0);
        transform-origin: top center;
        margin-top: 1px;
        border-radius: 0px 0px 15px 15px;
        background: #FFF;
        box-shadow: 20px 20px 60px 0px rgba(18, 47, 4, 0.30);
        overflow: hidden;
        margin-top: 21px;
        li {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 105%;
                height: 100%;
                background-color: var(--primary);
                transition: 0.4s;
                border-radius: 10px 0 0 10px;
                visibility: hidden;
                opacity: 0;
            }
            + li {
                border-top: 1px solid #F3F3F3;
            }
            a {
                color: #777675;
                padding: 12px 15px 12px 0;
                display: block;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    right: 17px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 21px;
                    height: 16px;
                    background-image: url('../imgs/menu-icon/8.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                img {
                    margin-right: 5px;
                    margin-top: -2px;
                }
            }
            &:hover {
                &:before {
                    visibility: visible;
                    opacity: 1;
                }
                a {
                    color: #fff;
                    img {
                        filter: brightness(80);
                    }
                }
            }
        }
    }
    &:hover {
        .header__select {
            visibility: visible;
            opacity: 1;
            transform: scaleY(1);
        }
    }
}

.header__area  .sub-menu .sub-menu {
    left: 100%;
    top: -2px !important;
    z-index: 2;
}
.header__area .menu-item:hover > .has-dropdown {
    opacity: 1;
    top: 100%;
    transform: scaleY(1);
    visibility: visible;
}

// has-megamenu
.has-megamenu {
    line-height: 1 !important;
    .has-dropdown {
        padding: 0;
        border-radius: 0px 0px 30px 30px;
        left: 0;
        right: 0;
        width: 100%;
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
        margin: 0 auto;
    }
    .menu-left-bar-inner {
        background-color: #F2F2F2;
        border-radius: 0 0 0 18px;
        overflow: hidden;
        .nav {
            display: block;
            border-bottom: 0;
            .nav-link {
                display: flex;
                width: 100%;
                text-align: left;
                border: 0;
                padding: 18px 28px;
                color: #777675;
                line-height: 1;
                font-size: 14px;
                font-weight: 600;
                border-radius: 0 5px 5px 0;
                margin-bottom: 1px;
                background-color: #fff;
                justify-content: space-between;
                &:first-child {
                    border-radius: 0 0 5px 0;
                }
                &.active {
                    color: #2B1911;
                    span {
                        color: var(--primary);
                    }
                }
            }
        }

        //copyright
        .copyright {
            padding: 30px 28px;
            line-height: 1;
            background-color: #fff;
            border-radius: 0 5px 0 0;
        }
    }

    //menu-right-side-inner
    .menu-right-side-inner {
        background-color: #F2F2F2; 
        border-left: 1px solid #F2F2F2;
        border-radius: 0 0 30px 0;
        overflow: hidden;
        .active {
            background-color: transparent;
        }
    }

    .has-dropdown {
        max-width: 1290px;
    }

    .demo-list-wrap {
        .single-demo-list {
            background-color: #fff;
            padding: 15px;
            display: inline-block;
            float: inline-start;
            width: 19.89%;
            margin-right: 1px;
            margin-bottom: 1px;
            border-radius: 6px;
            &:hover {
                h4 a {
                    color: var(--primary);
                }
            }
            .thumb {
                margin-bottom: 6px;
                position: relative;
                img {
                    border-radius: 12px;
                    width: 100%;
                    max-height: 158px;
                } 
                .up-coming {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 18px;
                    opacity: 0.5;
                    width: 100%;
                }
            }
            h4 {
                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--black-2);
                    &:hover {
                        color: var(--primary);
                    }
                }
            }
            &:nth-child(-n + 4) {
                border-radius: 0 0 6px 6px;
            }
            &:nth-child(1) {
                border-radius: 0 0 6px 0;
            }
            &:nth-child(5) {
                border-radius: 0 0 0 6px;
            }
            &:nth-last-child(-n + 4) {
                border-radius: 6px 6px 0 0;
            }
            &:nth-child(6) {
                border-radius: 0 6px 0 0;
            }
            &:last-child {
                border-radius: 6px 0 0 0;
            }
        }
    }
}

//header right info
.header__right-info {
    display: flex;
    align-items: center;
    gap: 25px;
    .search-wrap {
        @media #{$lg}{
            display: none;
        }
    }
    .header__shopicon {
        @media #{$lg}{
            display: none;
        }
    }
}