/*----------------------------------------*/
/*  28. FOOTER CSS START
/*----------------------------------------*/

.footer {
    &__area-4 {
        background-image: url('../imgs/bg/footer-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 124px;
        overflow: hidden;
        .microbus {
            position: absolute;
            top: 62px;
            right: 250px;
            @media #{$sm} { 
               display: none;
            }
        }
        @media #{$sm} { 
            background-image: none; 
            padding-top: 80px; 
            background-color: #141414; 
        }
        .btn-appStore-2:hover {
            background-color: var(--primary);
        }
        .btn-playstor-2:hover {
            background-color: transparent;
        }
        .btn-join:hover {
            background-color: var(--red-4);
        }
    } 
 
    &__main-4 {
        display: grid;
        grid-template-columns: 395px 1fr 1fr 310px;
        gap: 30px;
        padding: 60px 0px 45px;
        margin-left: 300px;
        max-width: 1320px;
        @media #{$xxl} {
            grid-template-columns: 290px 1fr 1fr 310px; 
        }
        @media #{$xl} {
            grid-template-columns: 277px 1fr 1fr 310px;
            margin-left: 241px;
        }
        @media #{$xl2} { 
            padding-right: 15px;
            margin-left: 180px;
        }
        @media #{$lg} {
            grid-template-columns: repeat(4, 1fr);
            margin-left: 0;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$md} {
            grid-template-columns: repeat(2, 1fr); 
        }
        @media #{$sm} {
            padding: 35px 15px 45px;
            grid-template-columns: repeat(1, 1fr); 
        }
    }

    &__btnWrap-4 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        @media #{$md} {
            flex-direction: row;
        }
    }

    &__topInner-4 {
        display: grid;
        align-items: center;
        grid-template-columns: 422px 292px 302px 1fr;
        border-radius: 60px 0px 0px 60px;
        background-color: var(--blue-8);
        padding: 21px 40px;
        margin-left: 260px;
        @media #{$xxl} {
            margin-left: 90px;
        }
        @media #{$xl} {
            margin-left: 0;
            grid-template-columns: repeat(4, 1fr);
        }
        @media #{$md} {
            margin-left: 0;
            grid-template-columns: repeat(4, 1fr);
            gap: 70px;
        }
        @media #{$sm} {
            margin-left: 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            border-radius: 0px;
            padding: 15px;
        }
    }

    &__content-4 {
        color: var(--gray-2); 
        font-family: var(--font-sora);
        font-size: 16px; 
        font-weight: 400; 
        padding-bottom: 20px;
    }

    &__menu-item-4 {
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0px;
        }
        a {
            color: var(--gray-2);  
            font-size: 16px; 
            font-weight: 400;  
            display: inline-block;
            transition: var(--transition);
            &:hover {
                color: var(--primary);
            } 
        }
    }
     
    &__widgetTitle-4 {
        color: var(--white); 
        font-size: 20px; 
        font-weight: 400;  
    }

    &__title-4 {
        color: var(--white); 
        font-size: 25px; 
        font-family: var(--font-passion);
        font-weight: 400;   
        @media #{$sm} {
            padding-bottom: 10px;
        }
    }

    &__social-4 { 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;  
    } 

    &__social-item-4{
        a {
            width: 47px;
            height: 47px; 
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #FF84A2;
            color: var(--white); 
            border-radius: 100px;
            transition: var(--transition);
            &:hover {
                background-color: var(--blue-8); 
                border: 1px solid var(--blue-8); 
            }

        }
    } 
    
    &__widgetTtile-4 {
        color: var(--white); 
        font-family: var(--font-sora);
        font-size: 20px; 
        font-weight: 500; 
        padding-bottom: 20px;
    }
 
    &__copyrightText-4 {  
        color: #E2E2E2; 
        font-family: var(--font-sora);
        font-size: 14px; 
        font-weight: 400; 
        padding-left: 270px;
        a {
            color: #E2E2E2; 
            transition: var(--transition);
            &:hover {
                color: var(--white); 
            }
        }
        @media #{$lg} {
            padding-left: 0px;
        }
    } 

    &__btm-4 {
        border-radius: 0px 70px 70px 0px;
        background-color: #DF3A62;
        padding: 16px 30px;
        margin-right: 272px;
        padding: 15px 30px;
        margin-right: 272px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$md} {
            padding: 15px 15px;
            margin-right: 0px;
        }
        @media #{$sm} {
            padding: 15px 15px;
            margin-right: 0px;
            flex-wrap: wrap-reverse;
            gap: 10px;
            border-radius: 0px;
            justify-content: center;
        }
    }

    &__shapeFour-1 {
        position: absolute;
        top: 100px;
        left: 78px;
        @media #{$xxl} {
            top: 56px;
            left: 55px;
        }
        @media #{$lg} {
           display: none;
        }
    }
    
    &__shapeFour-2 { 
        position: absolute;
        bottom: 32%;
        left: 100px; 
        @media #{$lg} {
            display: none;
        }
    }
    
    &__shapeFour-3 {
        position: absolute;
        bottom: 0px;
        right: 0px;
        @media #{$xxl} {
            width: 9%;
        }
        @media #{$lg} {
            width: 12%;
        }
        @media #{$md} {
            display: none;
        }
    }   
}
