/*----------------------------------------*/
/*  28. FOOTER CSS START
/*----------------------------------------*/

.footer {
    &__area-2 {
        background-color: #7E81FF; 
        background-image: url('../imgs/bg/footer-bg-line.webp');
        background-repeat: no-repeat;
        padding-bottom: 30px;
       .facebook-icon {
            @media #{$sm} {
                width: 19%;
            } 
        }
    } 

    &__wrapper-2 {
        border-radius: 40px;
        border: 4px solid var(--black-6);
        background-color: var(--white-5);
    }

    &__logo-2 {
        border-bottom: 4px solid var(--black-6);
        padding: 30px 0px;
    }

    &__inner-2 {
        display: grid;
        grid-template-columns: 180px 180px 285px 1fr;
        gap: 100px;
        padding: 50px 100px 50px;
        justify-content: space-between; 
        @media #{$xl2} {
            gap: 70px;
        }
        @media #{$lg} {
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            padding: 50px 30px 50px; 
        }
        @media #{$md} {
            grid-template-columns: repeat(2, 1fr); 
        }
        @media #{$sm} {
            gap: 15px;
            padding: 40px 15px 40px;
            grid-template-columns: repeat(1, 1fr); 
        }
    }

    &__widgetTitle-2 {
        color: var(--black-6); 
        font-size: 25px; 
        font-weight: 600; 
        line-height: 1.2;
        padding-bottom: 25px;
        @media #{$sm} {
            padding-bottom: 10px;
        } 
    }

    &__btnWrap-2 { 
        @media #{$sm} {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            justify-content: start;
        } 
    }

    &__social-2 { 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;  
        padding: 40px 0px 30px;
        @media #{$sm} {
            flex-wrap: wrap;
            gap: 5px;
        }
    } 

    &__social-icon-2 {
        @media #{$sm} {
            width: 15px;
        }
    }
    
    &__socialItem-2{
        a {
            width: 83px;
            height: 80px; 
            display: flex;
            align-items: center;
            justify-content: center;
            border: 4px solid var(--black-6);
            color: var(--gray-2);
            background-color: var(--white-5);
            border-radius: 20px;
            transition: var(--transition);
            &:hover {
                box-shadow: 2px 2px 0px 0px #141414;  
            } 
            @media #{$sm} {
                width: 50px;
                height: 50px;  
                border: 2px solid var(--black-6);
            } 
        }
    }

    &__app-title {
        color: var(--white); 
        font-size: 25px; 
        font-weight: 600; 
    }

    &__btm {
        display: grid;
        grid-template-columns: 465px 1fr 1fr 1fr 1fr;
        gap: 60px;
        max-width: 1320px;
        margin: 0px auto;
        padding: 70px 0px 60px;
    }  

    &__item-2 { 
        display: flex;
        gap: 10px;
        align-items: baseline;
        a {
            color: var(--gray);  
            display: inline-block;
            padding-bottom: 2px;  
            transition: var(--transition); 
            font-size: 18px; 
            font-weight: 400; 
            line-height: 1.5;
            &:hover {
                color: var(--primary);
                padding-left: 3px; 
            }
            @media #{$sm} {
               font-size: 16px;
            }
        } 
    }
        

    &__copyrightText-2 {  
        color: var(--black-6);
        text-align: center; 
        font-size: 16px; 
        font-weight: 700; 
        a {
            color: var(--black-6); 
            transition: var(--transition);
            &:hover {
                color: var(--white); 
            }
        }
    } 
}