.about__video-2 {
    padding-top: 120px;
    overflow: hidden;
    @media #{$xs} {
        padding-top: 70px;
    }
    .about-shape-1 {
        left: 0;
        top: 170px;
        @media #{$sm} {
            max-width: 60px;
        }
        @media #{$xs} {
            max-width: 40px;
        }
    }
    .about-shape-2 {
        right: 0;
        top: 180px;
        @media #{$sm} {
            max-width: 30px;
        }
        @media #{$xs} {
            max-width: 20px;
        }
    }
    .about-shape-3 {
        left: 16%;
        top: 400px;
    }
    .about-shape-4 {
        right: 16%;
        top: 400px;
    }
    .title {
        font-family: var(--font-sora);
        font-size: 80px;
        font-weight: 700;
        color: var(--black-6);
        margin-bottom: 18px;
        @media #{$lg} {
            font-size: 60px;
        }
        @media #{$lg} {
            font-size: 40px;
        }
        @media #{$xs} {
            font-size: 30px;
        }
    }
    .content {
        max-width: 650px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .btn-service-2 {
        padding: 19px 42px 17px 42px;
    }
    .video-wrap {
        margin: 0 100px;
        position: relative;
        margin-top: 80px;
        @media #{$lg} {
            margin: 0 30px;
            margin-top: 70px;
        }
        img {
            position: absolute;
            right: -11px;
            bottom: 0;
            height: 100%;
            width: 100%;
        }
        .video-inner {
            mask-size: 100% 99.3%;
            mask-repeat: no-repeat;
            overflow: hidden;
            @media #{$lg} {
                mask-size: 100% 98.5%;
            }
            @media #{$md} {
                mask-size: 100% 98%;
            }
            @media #{$xs} {
                mask-size: 100% 96%;
            }
        }
    }
}