.mobile_menu_nav {
    ul.menu_list {
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 18px;
            @media #{$sm} {
                margin-bottom: 8px;
            }
            a {
                font-size: 35px;
                font-weight: 700;
                position: relative;
                text-transform: uppercase;
                margin: 0;
                display: block;
                transition: 0.4s;
                z-index: 2;
                font-style: italic;
                color: var(--gray);
                @media #{$lg} {
                    font-size: 30px;
                }
                @media #{$sm} {
                    font-size: 18px;
                }
                span {
                    font-size: 14px;
                    font-weight: 700;
                    position: absolute;
                    top: 5px;
                    left: -32px;
                    @media #{$sm} {
                        top: 3px;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            &.show {
                > a {
                    color: var(--black-7);
                }
            }
        }
    }
    .menu-item-has-children {
        position: relative;
        &:after {
            content: " ";
            position: absolute;
            right: 0;
            top: 9px;
            font-weight: 700;
            font-size: 20px;
            height: 30px;
            width: 30px;
            background: url('../imgs/menu-icon/dropdown-right.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            transition: 0.4s;
            @media #{$sm} {
                top: 5px;
                font-size: 20px;
                height: 23px;
                width: 23px;
            }
        }
        .sub-menu {
            text-align: left;
            display: none;
            padding-left: 15px;
            li {
                border-bottom: 0;
                margin-bottom: 0;
                margin-top: 10px;
                a {
                    display: block;
                    color: var(--gray);
                    font-size: 22px;
                    position: relative;
                    transition: 0.4s;
                    padding-left: 0;
                    padding-right: 18px;
                    @media #{$sm} {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}