.pt-50 {
  padding-top: 50px;

  @media #{$md} {
    padding-top: 30px;
  }

  @media #{$sm} {
    padding-top: 20px;
  }
}

.pt-60 {
  padding-top: 60px;

  @media #{$md} {
    padding-top: 30px;
  }

  @media #{$sm} {
    padding-top: 20px;
  }
}

.pt-70 {
  padding-top: 70px;

  @media #{$md} {
    padding-top: 30px;
  }

  @media #{$sm} {
    padding-top: 20px;
  }
}


.pt-100 {
  padding-top: 100px;

  @media #{$lg} {
    padding-top: 80px;
  }
  
  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

.pt-110 {
  padding-top: 110px;

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

.pt-120 {
  padding-top: 120px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

.pt-125 {
  padding-top: 125px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

.pt-130 {
  padding-top: 130px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

.pt-140 {
  padding-top: 140px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

.pt-150 {
  padding-top: 150px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

.pt-160 {
  padding-top: 160px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}
.pt-170 {
  padding-top: 170px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

.pt-190 {
  padding-top: 190px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 80px;
  }

  @media #{$sm} {
    padding-top: 50px;
  }
}

// Padding Bottom
.pb-50 {
  padding-bottom: 50px;

  @media #{$md} {
    padding-bottom: 30px;
  }

  @media #{$sm} {
    padding-bottom: 20px;
  }
}

.pb-60 {
  padding-bottom: 60px;

  @media #{$md} {
    padding-bottom: 30px;
  }

  @media #{$sm} {
    padding-bottom: 20px;
  }
}

.pb-100 {
  padding-bottom: 100px;

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-110 {
  padding-bottom: 110px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-120 {
  padding-bottom: 120px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-125 {
  padding-bottom: 125px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-130 {
  padding-bottom: 130px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}
.pb-135 {
  padding-bottom: 135px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-140 {
  padding-bottom: 140px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-150 {
  padding-bottom: 150px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-160 {
  padding-bottom: 160px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-170 {
  padding-bottom: 170px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-180 {
  padding-bottom: 180px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}

.pb-190 {
  padding-bottom: 190px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 80px;
  }

  @media #{$sm} {
    padding-bottom: 50px;
  }
}


// Margin top
.mt-130 {
  margin-top: 130px;

  @media #{$lg} {
    margin-top: 100px;
  }

  @media #{$md} {
    margin-top: 80px;
  }

  @media #{$sm} {
    margin-top: 50px;
  }
}

// 
.plr-50 {
  padding-left: 50px;
  padding-right: 50px;

  @media #{$md} {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media #{$sm} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.plr-100 {
  padding-left: 100px;
  padding-right: 100px;

  @media #{$lg} {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media #{$md} {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media #{$sm} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mb-110 {
  margin-bottom: 110px;

  @media #{$lg} {
    margin-bottom: 100px;
  }

  @media #{$md} {
    margin-bottom: 80px;
  }

  @media #{$sm} {
    margin-bottom: 50px;
  }
}
.mt-110 {
  margin-top: 110px;

  @media #{$lg} {
    margin-top: 100px;
  }

  @media #{$md} {
    margin-top: 80px;
  }

  @media #{$sm} {
    margin-top: 50px;
  }
}