/*----------------------------------------*/
/* SERVICE CSS START
/*----------------------------------------*/
.service {
  &__area-4 { 
    background-color: var(--white);    
  }

  &__titleWrap-4 {
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 50px; 
    @media #{$lg} {
      text-align: center;
    }
    @media #{$sm} {
      padding-bottom: 25px; 
      .section-title-4 {
        font-size: 36px;
      }
    } 
  }

  &__item-4 {
    position: relative; 
    mask-image: url('../imgs/shape/sr-shapefour.webp');
    mask-repeat: no-repeat;
    background-color: #C08FFF;
    padding: 60px 50px 70px;
    text-align: center; 
    mask-size: 100% 100%;
    @media #{$md} { 
      padding: 60px 43px 45px;
    } 
    @media #{$sm} {
      mask-size: 100%; 
      width: 330px;
      margin: 0 auto;
      padding: 35px 50px 40px;
    }
    &:hover {
      .service__img-4 {
        transform: scale(0.9);
      }
    }

  } 

  &__img-4 {
    transition: var(--transition);
  }

  &__title-4 {
    color: #17072C; 
    font-family: var(--font-passion);
    font-size: 40px; 
    font-weight: 400; 
    text-transform: uppercase;
    line-height: 1.2;
    max-width: 180px;
    margin: 0 auto; 
    padding: 20px 0px 15px;
    @media #{$sm} {
      font-size: 25px;
      padding: 14px 0px 9px;
    }
     
  }

  &__content-4 {
    color: #17072C; 
    font-family: var(--font-sora);
    font-size: 16px; 
    font-weight: 400; 
    @media #{$sm} {
      font-size: 14px; 
    }
  }
 
  &__shape-4 {
    position: absolute;
    top: 0px;
    left: 0px;
  } 


 
    
}