/*----------------------------------------*/
/* SERVICE CSS START
/*----------------------------------------*/
.service {
    &__area {
      background-color: var(--white);
      .border {
        &-b1 {
          box-shadow: rgba(255,107,44) 0px 4px 0px 0px;
        }
        &-b2 {
          box-shadow: rgba(7,177,75) 0px 4px 0px 0px;
        } 
      }
    }

    &__item {
      border-radius: 15px;
      border: 1px solid var(--white-3);
      background-color: var(--white);
      padding: 35px 30px;
      text-align: center;  
      transition: var(--transition); 
      margin-bottom: 10px;
      &:hover {
        .service__icon img {
          transform: scale(0.9);
        }
      }
    }

    &__icon {
      width: 80px;
      height: 75px; 
      border-radius: 25px;
      background-color: var(--white-4);
      display: flex;
      align-items: center;
      justify-content: center; 
      margin: 0 auto;
      img {
        transition: var(--transition);
      }
    }

    &__title {
      color: var(--black-2); 
      font-size: 25px; 
      font-weight: 700;
      line-height: 1.4;
      padding: 15px 0px 10px;
      max-width: 185px;
      margin: 0 auto;
    }

    &__title-wrap {
      text-align: center; 
      padding-bottom: 45px;
      h2 {
        span {
          display: block;
        }
      }
    }
    
}