.blog-details-top-2 {
    .blog-meta {
        display: flex;
        z-index: 2;
        position: relative;
        margin-bottom: 20px;
        li {
            border-radius: 40px;
            border: 1px solid #1F1F1F;
            background: #FFF6DF;
            padding: 7px 15px 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: #3D2F0D;
            svg {
                margin-right: 5px;
            }
            + li {
                margin-left: 5px;
            }
        }
    }
    .title {
        margin-bottom: 20px;
        font-size: 60px;
        color: var(--black-6);
        font-weight: 700;
        @media #{$md}{
            font-size: 40px;
        }
        @media #{$sm}{
            font-size: 24px;
        }
    }
    .author {
        display: flex;
        align-items: center;
        @media #{$md}{
            margin-bottom: 15px;
        }
        img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            margin-right: 12px;
        }
        .details {
            p {
                font-size: 14px;
                color: var(--gray);
                margin-bottom: 5px;
            }
            h6 {
                font-weight: 600;
                color: var(--black-6);
            }
        }
    }
    .thumb {
        mask-size: 99% 100%;
        mask-position: center;
        mask-repeat: no-repeat;
        img {
            transition: 0.7s;
            max-width: 100%;
        }
    }
}

.blog-details-area-2 {
    .has-dropcap {
        &:first-letter {
            font-size: 30px;
            line-height: 1;
            color: var(--black-6);
            font-weight: 700;
        }
    }
    p {
        margin-bottom: 25px;
    }
    h4 {
        font-size: 30px;
        font-weight: 700;
        color: var(--black-6);
        margin-bottom: 20px;
        @media #{$sm}{
            font-size: 24px;
        }
    }
    .post-details__quote {
        background-color: #F2BDA3;
        position: relative;
        overflow: hidden;
        h4 {
            margin-bottom: 3px;
            @media #{$sm}{
                font-size: 18px;
            }
        }
        p {
            margin-bottom: 0;
        }
        .shape-1 {
            position: absolute;
            left: 45%;
            top: 0;
        }
        .shape-2 {
            position: absolute;
            right: 40px;
            top: 30px;
        }
        .shape-3 {
            position: absolute;
            left: 35%;
            bottom: 0;
        }
        .shape-4 {
            position: absolute;
            right: -30px;
            bottom: -30px;
        }
    } 
    .post-details__author {
        background-color: #FFF5E1;
        border: 1px solid #111;
    }
    .post-details__author-socail-link {
        border: 1px solid #141414;
        &:hover {
            border-color: var(--primary);
        }
    }
    .post-details__comment-wrap {
        background: transparent;
        box-shadow: none;
    }
    .course-details__comment-item{
        display: flex;
        border-bottom: 1px solid #141414;
        padding-bottom: 30px;
        margin-bottom: 30px;
        @media #{$md}{
            display: block;
        }
        .course-details__left {
            margin-right: 20px;
            @media #{$md}{
                margin-right: 0;
                margin-bottom: 20px;
            }
            img {
                border: 2px solid #141414;
                border-radius: 50%; 
            }
        }
        .course-details__comment-date {
            margin-bottom: 5px;
            font-size: 15px;
        }
        .course-details__comment-name {
            color: #141414;
            margin-bottom: 8px;
        }
        .course-details__comment-text {
            margin-bottom: 0;
        }
        .btn-comment {
            background-color: #48D378;
            color: #141414;
            border-color: #141414;
            img {
                filter: brightness(0);
            }
        }
    }
}


.single-list-inner {
    margin-bottom: 20px;
    li {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: var(--black-6);
        margin-bottom: 6px;
        svg {
            margin-right: 9px;
            margin-top: -3px;
        }
    }
}

.blog-details-area-2 .course-details__comment-item.comment-reply {
    @media #{$sm}{
        padding-left: 0;
    }
}