/*----------------------------------------*/
/* FEATURES CSS START
/*----------------------------------------*/
.features {
    &__area { 
      background-image: url('../imgs/bg/features-lineshape.webp');
      background-color: var(--white-3);
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      margin-top: -60px;
      padding-top: 160px;
      border-radius: 20px;
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      @media #{$md} {
        padding-top: 100px;
        border-radius: 0px;
        margin-left: 0px;
        margin-right: 0px;
      }
      @media #{$sm} {
        padding-top: 100px;
        border-radius: 0px;
        margin-left: 0px;
        margin-right: 0px;
        .section-title {
          font-size: 28px;
          line-height: 32px;
          div {
            display: inline !important;
          }
        }
      }
    }
    
    &__wrapper {
      text-align: center;
      position: relative; 
    }
  
    &__content {
      font-size: 16px;   
      font-weight: 500;
      max-width: 660px;
      margin: 0 auto;
      padding: 25px 0px 50px;
      @media #{$md} {
        max-width: 595px;
      }
      @media #{$sm} {
        padding: 12px 0px 20px;
      }

    }

    &__title-wrap {
      em {
        font-family: var(--font-dm);
        font-weight: 400;
      }
    }
    &__img-wrap {
      position: relative;
    }
    &__video-wrap { 
      -webkit-mask-image: url('../imgs/shape/features-shape.webp');
      mask-image: url('../imgs/shape/features-shape.webp');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat; 
      mask-size: 100%; 
    }

    &__video {
      width: 100%;
    }

    &__title-wrap {
      max-width: 645px;
      margin: 0 auto;
    }

    &__shape1 {
      position: absolute;
      top: -62%;
      left: -99px;
      @media #{$xxl} { 
        left: 0; 
      }
      @media #{$md} {
        top: -15%;
        left: 0;
        width: 30%;
      }
      @media #{$sm} {
        display: none;
      }
    }
  
  &__shape2 {
    position: absolute;
    right: 0;
    top: 0; 
    @media #{$lg} {
      display: none;
    }
  }  
  &__shape2 {
    position: absolute;
    top: -40px;
    right: 74px;
    width: 280px;
    @media #{$md} {
      top: -40px;
      right: 0;
      width: 28%;
    } 
    @media #{$sm} {
      display: none;
    } 
  }

  &__shape3 {
    position: absolute;
    left: -23px;
    bottom: 82px;
    width: 272px;
    @media #{$sm} {
      display: none;
    }
    @media #{$lg} {
      left: 0;
      bottom: -36px;
    }
    @media #{$md} {
      display: none;
    }
  }
  
  &__shape4 {
    position: absolute;
    right: -61px;
    bottom: 83px;
    @media #{$xxl} {
      right: 0px;
    }
    @media #{$xl} {
      right: 0px;
    }
    @media #{$md} { 
      display: none;
    }  
  } 
}